.caixa__titulo {
    padding: 6em;
    text-align: center;
}

.caixa__sobre {
    font-size: 16px;
    font-weight: 500;
    color: var(--vermelho);
}

.caixa__h1 {
    font-size: 48px;
    font-weight: 500;
    color: var(--cinza-secundario);
    padding: 24px;
}

.caixa__texto {
    color: var(--cinza-principal);
    line-height: 1.5em;
    font-size: 20px;
}