.depoimentos__container {
    text-align: center;
    padding: 40px;
    margin: 50px 70px;
    border-radius: 16px;
    background-color: var(--rosa);
}

.depoimentos__comentario {
    font-size: 14px;
    font-weight: 600;
    color: var(--vermelho);
    padding: 10px;
}

.depoimentos__titulo {
    font-size: 36px;
    font-weight: 500;
    color: var(--cinza-secundario);
    padding: 15px;
}

.depoimentos__nome {
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza-secundario);
    padding: 10px;
}

.depoimentos__ocupacao {
    font-size: 14px;
    color: var(--cinza-principal);
}