.foto__container {
    padding: 3em;
    text-align: center;
}

.foto__vagas {
    padding: 10px;
}

.foto__titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--cinza-secundario);
    padding: 10px;
}

.foto__texto {
    color: var(--cinza-principal);
    padding: 10px 0 64px;
}

.foto__equipe {
    width: 96%
}
